@model IEnumerable<WebApplication2rrr.Models.Phone>

@{
    ViewData["Title"] = "Список смартфонов";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Магазин смартфонов</title>
    <link rel="stylesheet" href="~/css//site.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <h1>Смартфоны</h1>
        <table>
            <tr>
                <th class="neon-text">Модель</th>
                <th class="neon-text">Производитель</th>
                <th class="neon-text">Цена</th>
                <th class="neon-text"></th>
            </tr>
            @foreach (var phone in Model)
            {
                <tr>
                    <td>@phone.Name</td>
                    <td>@phone.Company</td>
                    <td>@phone.Price</td>
                    <td><a class="button" href="~/Login/Login">Авторизируйтесь для покупки</a></td>
                </tr>
            }
        </table>

        <a href="/" class="button">На главную</a>
    </div>
</body>
</html>

